{% ckan_extends %}

{% block primary_content %}
  <div class="hero-primary module module-popup">
    <div class="module-content box">
      {% block home_primary %}
        <header>
          {% if g.site_intro_text %}
          {{ h.render_markdown(g.site_intro_text) }}
          {% else %}
            {% block home_primary_content %}
              <h1 class="page-heading">{% block home_primary_heading %}{{ _("Welcome to the EUDAT Metadata Repository") }}{% endblock %}</h1>
              <p>
              {% block home_primary_text %}
              {% endblock %}
              </p>
            {% endblock %}
          {% endif %}
        </header>
      {% endblock %}

      {% block home_image %}
        <section class="featured media-overlay">
          <h2 class="media-heading">{% block home_image_caption %}{{ _("Contains harvested metadata from EUDAT communities") }}{% endblock %}</h2>
          {% block home_image_content %}
            <a class="media-image" href="#">
              <img src="/images/md_small.png" alt="Metadata" width="420" height="220" />
            </a>
          {% endblock %}
        </section>
      {% endblock %}
    </div>
  </div>
  <div class="hero-secondary">
    <div class="hero-secondary-inner">
      {% block home_secondary_content %}
          <div class="module module-shallow module-narrow module-dark info box">
            {% block home_search %}
              <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
                <h3 class="heading">{{ _("Search Your Data") }}</h3>
                <div class="search-input control-group search-giant">
                  <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('eg. IPCC') }}" />
                  <button type="submit">
                    <i class="icon-search"></i>
                    <span>{{ _('Search') }}</span>
                  </button>
                </div>
              </form>
            {% endblock %}
            {% block home_tags %}
              <div class="tags">
                <h3>{{ _('Popular Tags') }}</h3>
                {% set tags = h.get_facet_items_dict('tags', limit=3) %}
                {% for tag in tags %}
                  <a class="tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
                {% endfor %}
              </div>
            {% endblock %}
          </div>
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block secondary_content %}
  {% set featured_groups=h.featured_groups() %}
  <div id="indexCarousel" class="carousel slide">
    <ol class="carousel-indicators">
    {% for group_dict in featured_groups %}
      {% if loop.first %}
        <li data-target="#indexCarousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
      {% else %}
        <li data-target="#indexCarousel" data-slide-to="{{ loop.index0 }}"></li>
      {% endif %}
    {% endfor %}
    </ol>

    <div class="carousel-inner">
    {% for group_dict in featured_groups %}
      {% set url=h.url_for(controller='group', action='about', id=group_dict.name) %}

      {% if loop.first %}
      <div class="active item">
      {% else %}
      <div class="item">
      {% endif %}
        <a href={{ url }}><center><img src="{{ group_dict.image_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group_dict.name }}" /></center></a>
<!--
        <div class="carousel-caption">
          <h4>{{ group_dict.title }}</h4>
          {% if group_dict.description %}
            <p>{{ h.markdown_extract(group_dict.description,extract_length=120)|urlize }}</p>
          {% else %}
            <p class="empty">{{ _('There is no description for this community') }}</p>
          {% endif %}
        </div>
-->
      </div>
    {% endfor %}
    </div>

    <a class="carousel-control left" href="#indexCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#indexCarousel" data-slide="next">&rsaquo;</a>
  </div>
{% endblock %}
